p{font-family: Arial, Helvetica, serif;}

p{text-transform: uppercase;}


img.absolute {
    position: absolute;
    top: 30px;
    right: 0;
    width: 30px;
    height: 30px;
    border: 1px solid blue;
}

img {
    border: 1px solid black;
    padding: 5px;
    width: 150px;
}
